@import "tailwindcss";

@theme {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-primary: hsl(var(--primary));
  --color-card: hsl(var(--card));
  --color-heading: hsl(var(--heading));
  --color-button: hsl(var(--button));
}

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 222 47% 11%;
    --primary: 210 40% 98%;
    --card: 214 32% 91%;
    --heading: 222 47% 11%;
    --button: 174 72% 46%;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 220 13% 91%;
    --primary: 222 47% 11%;
    --card: 215 28% 17%;
    --heading: 220 13% 91%;
    --button: 174 72% 46%;
  }

  body {
    @apply bg-background text-foreground transition-colors duration-300;
  }
}
